# database URL -- it's okay to leave this default if you don't want an external one
DATABASE_URL=file:local.db 

# the link you want any malformed/invalid URLs to redirect to
REDIRECT_LINK=https://webring.example.com