# database URL -- it's okay to leave this default if you don't want an external one
DATABASE_URL=file:local.db 

# the link you want any malformed/invalid URLs to redirect to
REDIRECT_LINK=https://webring.example.com

# there's a small "made with goated webring" credit wordmark on the
# landing page. if you'd like to get rid of that, change
# this to "true"
PUBLIC_HIDE_WORDMARK=false